<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-signin-client_id" content="{{ GOOGLE_CLIENT_ID }}">

  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles/base.css">

  <title>CrearCV {{#if htmlTitle}}| {{htmlTitle}}{{/if}}</title>
</head>

<body>
  {{> header}}
  {{> mainSection }}
  {{{ body }}}
  {{> footer }}
</body>

</html>